@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;700;900&family=Karla:wght@200;300;400;500;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--ff-inter: "Inter", sans-serif;
	--ff-karla: "Karla", sans-serif;

	--fw-100: 100;
	--fw-200: 200;
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
	--fw-900: 900;

	--fs-12: 0.75rem;
	--fs-14: 0.875rem;
	--fs-16: 1rem;
	--fs-18: 1.125rem;
	--fs-20: 1.25rem;
	--fs-24: 1.5rem;
	--fs-28: 1.75rem;
	--fs-32: 2rem;
	--fs-36: 2.25rem;
	--fs-40: 2.5rem;
	--fs-48: 3rem;
	--fs-56: 3.5rem;
	--fs-64: 4rem;
	--fs-72: 4.5rem;
	--fs-80: 5rem;
	--fs-96: 6rem;

	transition: all 0.2s ease-in-out;
}

/* Css Reset */

body {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Karla", sans-serif !important;
	font-weight: 700;
}

a {
	color: #333;
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}
a:hover {
	color: #333;
	text-decoration: none;
}

img,
picture {
	max-width: 100%;
	height: auto;
}

/* Global Debuging to remove */

/* Navigation */

.logo-container {
	max-width: 18rem;
}

/* end of Navigation */

/* footer grid */

.footer {
	display: block;
	width: 100%;
	text-align: justify;
	border-top: 1px solid rgb(207, 216, 220, 0.5);
}

.footer__nav {
	margin-right: auto;
	width: calc(100% - 75%);
}
.footer__nav,
.footer__nav li {
	display: inline-block;
}

.footer__nav li {
	padding: 0.5rem 1rem;
}

.footer__Social {
	display: inline-block;
	width: calc(100% - 75%);
	text-align: right;
}
.footer__Social li {
	display: inline-block;
	padding: 0.5rem 1rem;
}

.footer__copyright--container {
	width: 100%;
	display: inline-block;
	text-align: center;
}

.footer__copyright--container__link {
	display: inline-block;
	width: 100%;
}
.footer__copyright--container__link--img {
	display: inline-block;
	width: 100%;
	max-width: 1.5rem;
}

/* wip container */
.wip_container {
	position: relative;
	text-align: center;
	height: calc(100vh - 10rem);
	width: 100%;
}

.wip_container_tittle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	font-size: 4rem;
}

.wip_container_tittle span {
	display: block;
	font-size: 1.5rem;
}

.wip_container__blurs {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	z-index: -5;
}

/* contact page */

.contact__section {
	display: block;
	padding: 2rem 5rem;
	text-align: center;
}

.contact__section_title {
	font-size: 2rem;
}

.contact__section_title p {
	font-size: 1.5rem;
	margin-left: 20rem;
}

.contact__section_article {
	display: inline-block;
	padding: 2rem;
	max-width: 50rem;
	margin-top: 2rem;
	position: relative;
}

.Whatsapp_Link {
	display: inline-block;
	width: 100%;
	max-width: 5rem;
	padding: 0.5rem;
	border-radius: 50%;
	overflow: hidden;
	border: 0.5px solid rgb(207, 216, 220, 0.5);
	box-shadow: inset 0 0 0 0.5px rgb(207, 216, 220, 0.5),
		0 0 0 0.5px rgb(207, 216, 220, 0.5);
	position: absolute;
	top: 10%;
	left: 0;
	transform: translate(-90%, 0%);
}

.whatsapp_Link--img {
	display: block;
	width: 100%;
}
/* form styling */

.contact__form {
	display: inline-block;
	width: 100%;
	max-width: 50rem;
	padding-block: 2rem;
	padding-inline: 1rem;
	margin-block: 1rem;

	border: 0.5px solid rgb(207, 216, 220, 0.5);
	box-shadow: inset 0 0 0 0.5px rgb(207, 216, 220, 0.5),
		0 0 0 0.5px rgb(207, 216, 220, 0.5);
	border-radius: 0.5rem;
}
.contact__form input,
.contact__form textarea {
	display: inline-block;
	width: calc(100% - 5rem);
	padding: 0.8rem 1rem;
	margin: 0.5rem 0;
	border: 0.5px solid rgb(207, 216, 220, 0.5);
	box-shadow: inset 0 0 0 0.5px rgb(207, 216, 220, 0.5),
		0 0 0 0.5px rgb(207, 216, 220, 0.5);
	border-radius: 0.5rem;
}

.contact__form textarea {
	height: 10rem;
}

.contact__form label {
	display: inline-block;
	width: 100%;
	text-align: left;
}
.contact__form button {
	display: inline-block;
	font-size: 1rem;
	width: calc(100% - 5rem);
	padding: 1rem;
	margin: 0.5rem 0;
	border: 0.5px solid rgb(207, 216, 220, 0.5);
	box-shadow: inset 0 0 0 0.5px rgb(207, 216, 220, 0.5),
		0 0 0 0.5px rgb(207, 216, 220, 0.5);
	border-radius: 0.5rem;
	background-color: #333;
	color: #fff;
}
