// Define global variable

// // Colors
$ff-inter: "Inter", sans-serif;
$ff-poppins: "Poppins", sans-serif;

// // Font Weights
$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

// // Font Sizes
$fs-12: 0.75rem;
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-24: 1.5rem;
$fs-28: 1.75rem;
$fs-32: 2rem;
$fs-36: 2.25rem;
$fs-40: 2.5rem;
$fs-48: 3rem;
$fs-56: 3.5rem;
$fs-64: 4rem;
$fs-72: 4.5rem;
$fs-80: 5rem;
$fs-96: 6rem;

// // Colors

// // // Dark
$dark---bunting-blue--900: rgba(4, 6, 15, 1);
$dark---bunting-blue--800: rgba(8, 12, 30, 1);
$dark---bunting-blue--700: rgba(12, 18, 45, 1);
$dark---bunting-blue--600: rgba(16, 24, 60, 1);
$dark---bunting-blue--500: rgba(20, 30, 75, 1);
$dark---bunting-blue--400: rgba(48, 59, 106, 1);
$dark---bunting-blue--300: rgba(76, 87, 137, 1);
$dark---bunting-blue--200: rgba(105, 116, 168, 1);
$dark---bunting-blue--100: rgba(133, 144, 199, 1);
$dark---bunting-blue--050: rgba(161, 173, 230, 1);

$dark---valentino-purple--900: rgba(13, 3, 14, 1);
$dark---valentino-purple--800: rgba(26, 6, 28, 1);
$dark---valentino-purple--700: rgba(38, 8, 42, 1);
$dark---valentino-purple--600: rgba(51, 11, 56, 1);
$dark---valentino-purple--500: rgba(64, 14, 70, 1);
$dark---valentino-purple--400: rgba(96, 41, 103, 1);
$dark---valentino-purple--300: rgba(128, 67, 135, 1);
$dark---valentino-purple--200: rgba(160, 94, 168, 1);
$dark---valentino-purple--100: rgba(192, 120, 200, 1);
$dark---valentino-purple--050: rgba(224, 147, 233, 1);

// // // gray
$grays--900-wood-smoke-gray: rgba(15, 16, 19, 1);
$grays--800-wood-smoke-gray: rgba(30, 33, 37, 1);
$grays--700-wood-smoke-gray: rgba(46, 49, 56, 1);
$grays--600-wood-smoke-gray: rgba(61, 66, 74, 1);
$grays--500-wood-smoke-gray: rgba(76, 82, 93, 1);
$grays--400-wood-smoke-gray: rgba(110, 115, 124, 1);
$grays--300-wood-smoke-gray: rgba(143, 147, 154, 1);
$grays--200-wood-smoke-gray: rgba(177, 180, 185, 1);
$grays--100-wood-smoke-gray: rgba(210, 212, 215, 1);
$grays--050-wood-smoke-gray: rgba(244, 245, 246, 1);
$grays--000-white: rgba(255, 255, 255, 1);

// // // Light
$light---royal-blue--900: rgba(5, 11, 23, 1);
$light---royal-blue--800: rgba(10, 22, 46, 1);
$light---royal-blue--700: rgba(19, 44, 93, 1);
$light---royal-blue--600: rgba(29, 66, 139, 1);
$light---royal-blue--500: rgba(38, 88, 186, 1);
$light---royal-blue--400: rgb(48, 110, 232);
$light---royal-blue--300: rgba(89, 139, 237, 1);
$light---royal-blue--200: rgba(131, 168, 241, 1);
$light---royal-blue--100: rgba(172, 197, 246, 1);
$light---royal-blue--050: rgba(214, 226, 250, 1);

$light---electric-violet--900: rgba(16, 3, 23, 1);
$light---electric-violet--800: rgba(32, 5, 46, 1);
$light---electric-violet--700: rgba(63, 10, 92, 1);
$light---electric-violet--600: rgba(95, 16, 138, 1);
$light---electric-violet--500: rgba(126, 21, 184, 1);
$light---electric-violet--400: rgba(158, 26, 230, 1);
$light---electric-violet--300: rgba(177, 72, 235, 1);
$light---electric-violet--200: rgba(197, 118, 240, 1);
$light---electric-violet--100: rgba(216, 163, 245, 1);
$light---electric-violet--050: rgba(236, 209, 250, 1);
