@use "../utilities/variables" as *;

.temp {
	background-color: #000;
	color: #fff;
}

.Career-Section {
	.img-box {
		border-radius: 0.5rem;
		margin: 2rem;
		max-width: 22rem;
		overflow: hidden;

		img {
			transition: all 0.3s ease-in-out;
			width: 100%;
			aspect-ratio: 1/1;
			object-fit: cover;
			object-position: bottom;
			border-radius: 0.5rem;
			max-width: 40rem;
			&:hover {
				transform: scale(1.05);
			}
		}
	}
}

// media queries for the above
@media (min-width: 30rem) and (max-width: 80rem) {
	.Career-Section {
		gap: 2rem;
		justify-content: space-around;
		padding-inline: 1rem;
	}
}

@media (min-width: 80.1rem) {
	.Career-Section {
		gap: 2rem;
		justify-content: space-around;
		padding-inline: calc(50% - 40rem);
	}
}
