# Created by https://www.toptal.com/developers/gitignore/api/node,sass
# Edit at https://www.toptal.com/developers/gitignore?templates=node,sass


# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm


### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map
*dist