@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;700;800;900&family=Poppins:wght@200;300;400;500;700;800&display=swap");
/* utility classes */
/* font family */
.ff-poppins {
  font-family: "Poppins", sans-serif !important;
}

.ff-inter {
  font-family: "Inter", sans-serif !important;
}

/* font weight */
.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/* font size */
.fs-12 {
  font-size: 0.75rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-40 {
  font-size: 2.5rem;
}

.fs-48 {
  font-size: 3rem;
}

.fs-56 {
  font-size: 3.5rem;
}

.fs-64 {
  font-size: 4rem;
}

.fs-72 {
  font-size: 4.5rem;
}

.fs-80 {
  font-size: 5rem;
}

.fs-96 {
  font-size: 6rem;
}

/* utility classes */
/* color classes */
.c-white {
  color: rgb(255, 255, 255) !important;
}

.c-white-bg {
  background-color: rgb(255, 255, 255) !important;
}

/* color classes  */
/* valentino-purple */
.vp-900 {
  color: rgb(13, 3, 14) !important;
}

.vp-800 {
  color: rgb(26, 6, 28) !important;
}

.vp-700 {
  color: rgb(38, 8, 42) !important;
}

.vp-600 {
  color: rgb(51, 11, 56) !important;
}

.vp-500 {
  color: rgb(64, 14, 70) !important;
}

.vp-400 {
  color: rgb(96, 41, 103) !important;
}

.vp-300 {
  color: rgb(128, 67, 135) !important;
}

.vp-200 {
  color: rgb(160, 94, 168) !important;
}

.vp-100 {
  color: rgb(192, 120, 200) !important;
}

.vp-050 {
  color: rgb(224, 147, 233) !important;
}

/* wood-smoke-gray */
.wsg-900 {
  color: rgb(15, 16, 19) !important;
}

.wsg-800 {
  color: rgb(30, 33, 37) !important;
}

.wsg-700 {
  color: rgb(46, 49, 56) !important;
}

.wsg-600 {
  color: rgb(61, 66, 74) !important;
}

.wsg-500 {
  color: rgb(76, 82, 93) !important;
}

.wsg-400 {
  color: rgb(110, 115, 124) !important;
}

.wsg-300 {
  color: rgb(143, 147, 154) !important;
}

.wsg-200 {
  color: rgb(177, 180, 185) !important;
}

.wsg-100 {
  color: rgb(210, 212, 215) !important;
}

.wsg-050 {
  color: rgb(244, 245, 246) !important;
}

/* royal-blue */
.rb-900 {
  color: rgb(5, 11, 23) !important;
}

.rb-800 {
  color: rgb(10, 22, 46) !important;
}

.rb-700 {
  color: rgb(19, 44, 93) !important;
}

.rb-600 {
  color: rgb(29, 66, 139) !important;
}

.rb-500 {
  color: rgb(38, 88, 186) !important;
}

.rb-400 {
  color: rgb(48, 110, 232) !important;
}

.rb-300 {
  color: rgb(89, 139, 237) !important;
}

.rb-200 {
  color: rgb(131, 168, 241) !important;
}

.rb-100 {
  color: rgb(172, 197, 246) !important;
}

.rb-050 {
  color: rgb(214, 226, 250) !important;
}

/* electric-violet */
.ev-900 {
  color: rgb(16, 3, 23) !important;
}

.ev-800 {
  color: rgb(32, 5, 46) !important;
}

.ev-700 {
  color: rgb(63, 10, 92) !important;
}

.ev-600 {
  color: rgb(95, 16, 138) !important;
}

.ev-500 {
  color: rgb(126, 21, 184) !important;
}

.ev-400 {
  color: rgb(158, 26, 230) !important;
}

.ev-300 {
  color: rgb(177, 72, 235) !important;
}

.ev-200 {
  color: rgb(197, 118, 240) !important;
}

.ev-100 {
  color: rgb(216, 163, 245) !important;
}

.ev-050 {
  color: rgb(236, 209, 250) !important;
}

/* background color classes */
/* valentino-purple */
.vp-900-bg {
  background-color: rgb(13, 3, 14) !important;
}

.vp-800-bg {
  background-color: rgb(26, 6, 28) !important;
}

.vp-700-bg {
  background-color: rgb(38, 8, 42) !important;
}

.vp-600-bg {
  background-color: rgb(51, 11, 56) !important;
}

.vp-500-bg {
  background-color: rgb(64, 14, 70) !important;
}

.vp-400-bg {
  background-color: rgb(96, 41, 103) !important;
}

.vp-300-bg {
  background-color: rgb(128, 67, 135) !important;
}

.vp-200-bg {
  background-color: rgb(160, 94, 168) !important;
}

.vp-100-bg {
  background-color: rgb(192, 120, 200) !important;
}

.vp-050-bg {
  background-color: rgb(224, 147, 233) !important;
}

/* wood-smoke-gray */
.wsg-900-bg {
  background-color: rgb(15, 16, 19) !important;
}

.wsg-800-bg {
  background-color: rgb(30, 33, 37) !important;
}

.wsg-700-bg {
  background-color: rgb(46, 49, 56) !important;
}

.wsg-600-bg {
  background-color: rgb(61, 66, 74) !important;
}

.wsg-500-bg {
  background-color: rgb(76, 82, 93) !important;
}

.wsg-400-bg {
  background-color: rgb(110, 115, 124) !important;
}

.wsg-300-bg {
  background-color: rgb(143, 147, 154) !important;
}

.wsg-200-bg {
  background-color: rgb(177, 180, 185) !important;
}

.wsg-100-bg {
  background-color: rgb(210, 212, 215) !important;
}

.wsg-050-bg {
  background-color: rgb(244, 245, 246) !important;
}

/* royal-blue */
.rb-900-bg {
  background-color: rgb(5, 11, 23) !important;
}

.rb-800-bg {
  background-color: rgb(10, 22, 46) !important;
}

.rb-700-bg {
  background-color: rgb(19, 44, 93) !important;
}

.rb-600-bg {
  background-color: rgb(29, 66, 139) !important;
}

.rb-500-bg {
  background-color: rgb(38, 88, 186) !important;
}

.rb-400-bg {
  background-color: rgb(48, 110, 232) !important;
}

.rb-300-bg {
  background-color: rgb(89, 139, 237) !important;
}

.rb-200-bg {
  background-color: rgb(131, 168, 241) !important;
}

.rb-100-bg {
  background-color: rgb(172, 197, 246) !important;
}

.rb-050-bg {
  background-color: rgb(214, 226, 250) !important;
}

/* electric-violet */
.ev-900-bg {
  background-color: rgb(16, 3, 23) !important;
}

.ev-800-bg {
  background-color: rgb(32, 5, 46) !important;
}

.ev-700-bg {
  background-color: rgb(63, 10, 92) !important;
}

.ev-600-bg {
  background-color: rgb(95, 16, 138) !important;
}

.ev-500-bg {
  background-color: rgb(126, 21, 184) !important;
}

.ev-400-bg {
  background-color: rgb(158, 26, 230) !important;
}

.ev-300-bg {
  background-color: rgb(177, 72, 235) !important;
}

.ev-200-bg {
  background-color: rgb(197, 118, 240) !important;
}

.ev-100-bg {
  background-color: rgb(216, 163, 245) !important;
}

.ev-050-bg {
  background-color: rgb(236, 209, 250) !important;
}

/* end of color classes */
/* start of mixins for dark theme*/
/* Css Reset */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-poppins);
  font-weight: 700;
}

a {
  color: #333;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

a:hover {
  color: #333;
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  height: auto;
}

canvas {
  display: block;
}

/* Navigation */
header {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, rgb(158, 26, 230), rgb(48, 110, 232)) 1;
  background-color: transparent !important;
}
header .logo-container {
  max-width: 12rem;
  color: rgb(161, 173, 230) !important;
}

.navbar-nav {
  gap: 1rem;
}

/* footer grid */
.footer {
  border-top: 1px solid rgb(210, 212, 215);
}

.built-with {
  width: auto;
  height: auto;
  grid-column: span 2;
}

.built-with-box {
  flex-direction: row-reverse;
  gap: 1rem;
}

.footer-Social li a,
.footer-list li a {
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}
.footer-Social li a:hover,
.footer-list li a:hover {
  color: rgb(126, 21, 184) !important;
}

.built-with-img {
  max-width: 1.5rem;
  max-height: 2rem;
  aspect-ratio: 1/1;
}

.lines {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  height: 300%;
  margin: auto;
  width: 100vw;
  opacity: 0.5;
  z-index: -2;
  transform: rotate(-90deg);
}
@media (max-width: 45rem) {
  .lines {
    transform: rotate(0deg);
  }
}

.line {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgb(236, 209, 250);
  overflow: hidden;
  z-index: -2;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgb(63, 10, 92) 0%, rgb(177, 72, 235) 75%, rgb(158, 26, 230) 100%);
  animation: drop 16s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  box-shadow: 0 0 10px rgb(63, 10, 92), 0 0 20px rgb(63, 10, 92), 0 0 40px rgb(63, 10, 92), 0 0 80px rgb(63, 10, 92), 0 0 160px rgb(63, 10, 92);
}
.line:nth-child(1) {
  margin-left: -5%;
}
@media screen and (max-width: 45rem) {
  .line:nth-child(1) {
    margin-left: 26%;
  }
}
.line:nth-child(1)::after {
  animation-delay: 2s;
}
.line:nth-child(3) {
  margin-left: 5%;
}
@media screen and (max-width: 45rem) {
  .line:nth-child(3) {
    margin-left: -30%;
  }
}
.line:nth-child(3)::after {
  animation-delay: 2.5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(197, 118, 240) rgb(161, 173, 230);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  transition: all 0.2s ease;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background: linear-gradient(180deg, rgb(161, 173, 230), rgb(172, 197, 246));
  transition: all 0.2s ease;
}

*::-webkit-scrollbar-track:hover {
  background: linear-gradient(180deg, rgb(161, 173, 230), rgb(172, 197, 246));
  transition: all 0.2s ease;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
  transition: all 0.2s ease;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(180deg, rgb(197, 118, 240), rgb(161, 173, 230));
  transition: all 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, rgb(158, 26, 230), rgb(172, 197, 246));
  transition: all 0.2s ease;
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgb(197, 118, 240);
  transition: all 0.2s ease;
}

/* home page */
.hero-section {
  flex-direction: column;
}
.hero-section figure {
  width: 100%;
  height: 30rem;
}
.hero-section figure canvas {
  width: 100%;
  height: 100%;
}
@media (max-width: 35rem) {
  .hero-section {
    text-align: center;
  }
  .hero-section figure {
    display: none;
  }
  .hero-section .hero-main {
    margin-top: 1rem;
  }
  .hero-section .hero-main .btn-section {
    gap: 0rem !important;
  }
  .hero-section .hero-main .btn-section a {
    margin: 0 0 !important;
  }
  .hero-section .hero-main .btn-section a button {
    margin: 0 0 !important;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
  }
  .hero-section .bg-element {
    display: none;
  }
}

#typeOnText::before {
  content: "-";
  font-style: normal;
  color: rgb(158, 26, 230);
}

#typeOnText::after {
  content: "|";
  font-style: normal;
  animation: blink 0.7s infinite;
  padding-left: 1rem;
  color: rgb(197, 118, 240);
}

.hero-subheading {
  max-width: 50rem;
}

.cursor {
  display: inline-block;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.btn-glass-primary {
  background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(126, 50, 165, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  border: 2px solid;
  border-image-source: linear-gradient(114.55deg, rgba(126, 50, 165, 0.9) 2.13%, rgba(255, 255, 255, 0) 98.14%), radial-gradient(97.09% 224.61% at 1.38% 96.94%, rgba(255, 255, 255, 0) 0%, rgba(216, 216, 216, 0.54) 100%);
  backdrop-filter: blur(6px);
  border-radius: 8px;
}

.btn-glass-secondary {
  background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(110, 151, 235, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  border: 2px solid;
  backdrop-filter: blur(6px);
  border-radius: 8px;
}

.bg-element {
  position: absolute;
  top: 0;
  left: 0;
  font-style: italic;
  transform: translate(-18%, -15%);
  z-index: -1;
  font-size: calc(20rem + 5vw);
  border-image-source: linear-gradient(114.55deg, rgba(126, 50, 165, 0.9) 2.13%, rgba(32, 5, 46, 0) 98.14%), radial-gradient(97.09% 224.61% at 1.38% 96.94%, rgba(216, 216, 216, 0) 0%, rgba(216, 216, 216, 0.54) 100%), radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(216, 216, 216, 0) 0%, rgba(216, 216, 216, 0.05) 100%);
  /* Glass/BG Element 02 */
  background: linear-gradient(80deg, rgb(48, 110, 232) 0%, rgb(131, 168, 241) 27%, rgb(214, 226, 250) 61%, rgb(29, 66, 139) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.375rem transparent;
  opacity: 0.6;
  animation: scroll 20s ease-in-out alternate-reverse infinite;
}

@keyframes scroll {
  0% {
    transform: translate(-30%, -15%);
  }
  100% {
    transform: translate(0%, -15%);
  }
}
.GlassHover {
  width: 10em;
  height: 12em;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(255, 255, 255, 0.42);
  border-image-source: linear-gradient(114.55deg, rgba(126, 50, 165, 0.9) 2.13%, rgba(255, 255, 255, 0) 98.14%), radial-gradient(97.09% 224.61% at 1.38% 96.94%, rgba(255, 255, 255, 0) 0%, rgba(216, 216, 216, 0.54) 100%);
  background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(233, 233, 233, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(21px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 4px;
}

.Quotation {
  position: relative;
  isolation: isolate;
}
.Quotation::before {
  content: open-quote;
  position: absolute;
  font-family: "Inter", sans-serif;
  top: 0;
  left: 0;
  transform: translate(-40%, -35%);
  font-size: 10rem;
  color: rgb(158, 26, 230);
  z-index: -1;
  opacity: 0.2;
}
.Quotation::after {
  content: close-quote;
  position: absolute;
  font-family: "Inter", sans-serif;
  bottom: 0;
  right: 0;
  transform: translate(40%, 65%);
  font-size: 10rem;
  color: rgb(158, 26, 230);
  z-index: -1;
  opacity: 0.2;
}

.about-section {
  flex-direction: column-reverse;
}
.about-section .my-img {
  max-width: 450px;
  margin: 0 auto;
  padding: 3rem;
}
.about-section .my-img img {
  border-radius: 0.5rem;
  border: 1px solid rgb(177, 72, 235);
  min-width: 16rem;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgb(138, 16, 16) 0%, rgb(183, 107, 224) 100%) border-box;
  background-clip: content-box, border-box;
}

.Skewed-BG {
  position: relative;
  overflow-x: hidden;
}
.Skewed-BG::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25%;
  width: 150%;
  height: 100%;
  background: linear-gradient(90deg, rgba(161, 173, 230, 0.2) 0%, rgb(255, 255, 255) 90%);
  transform: skewY(-2deg);
  transform-origin: top left;
  z-index: -1;
}

@media (max-width: 768px) {
  .Skewed-BG {
    background: linear-gradient(90deg, rgba(161, 173, 230, 0.2) 0%, rgb(255, 255, 255) 90%);
  }
  .Skewed-BG::before {
    display: none;
  }
}
@media screen and (max-width: 768px) and (prefers-color-scheme: dark) {
  .Skewed-BG {
    background: linear-gradient(90deg, rgb(26, 6, 28) 0%, rgb(4, 6, 15) 90%);
  }
  .Skewed-BG::before {
    display: none;
  }
}
.skill-p {
  max-width: 60rem;
}

.card-mw {
  max-width: 20rem !important;
  width: fit-content !important;
}
.card-mw .glass-card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.3); /* This is a fallback for older browsers */
}
.card-mw .glass-card:hover {
  transform: scale(1.02);
}
.card-mw .glass-card:active {
  transform: scale(0.98);
}
.card-mw .glass-card .img-box {
  border-radius: 0.5rem;
  overflow: hidden;
}
.card-mw .glass-card .img-box img {
  transition: all 0.3s ease-in-out;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.card-mw .glass-card .img-box img:hover {
  transform: scale(1.05);
}

.work-logo {
  max-width: 150px;
  filter: invert(1);
  aspect-ratio: 1/1;
  object-fit: contain;
}

.skills-badges > * {
  transition: all 0.3s ease-in-out;
  caret-color: transparent;
}
.skills-badges > *:hover {
  transform: scale(1.05);
  caret-color: transparent;
}

.temp {
  background-color: #000;
  color: #fff;
}

.Career-Section .img-box {
  border-radius: 0.5rem;
  margin: 2rem;
  max-width: 22rem;
  overflow: hidden;
}
.Career-Section .img-box img {
  transition: all 0.3s ease-in-out;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: bottom;
  border-radius: 0.5rem;
  max-width: 40rem;
}
.Career-Section .img-box img:hover {
  transform: scale(1.05);
}

@media (min-width: 30rem) and (max-width: 80rem) {
  .Career-Section {
    gap: 2rem;
    justify-content: space-around;
    padding-inline: 1rem;
  }
}
@media (min-width: 80.1rem) {
  .Career-Section {
    gap: 2rem;
    justify-content: space-around;
    padding-inline: calc(50% - 40rem);
  }
}
.whatsapp {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -100%);
  max-width: 5rem;
}
@media (max-width: 35rem) {
  .whatsapp .whatsapp {
    display: block;
  }
}

.recent-crtns-p {
  max-width: 60rem;
}

.project-section {
  max-width: calc(100% - 5rem);
  margin: 0 auto;
}
@media (max-width: 35rem) {
  .project-section figure {
    width: 100%;
    overflow-x: hidden;
  }
  .project-section figure article {
    width: 100%;
  }
}

.services-card .card {
  transition: all 0.5s ease;
  aspect-ratio: 1/1.5;
}
.services-card .card:hover {
  scale: 1.05;
}
.services-card .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-inline: calc(4rem - 1vw);
  padding-block: 2rem;
  border: 3px solid rgb(126, 21, 184);
  border-radius: 1rem;
  position: relative;
}
.quiz-container .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 2px solid rgb(126, 21, 184);
  background: none;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  height: 2em;
  aspect-ratio: 1;
  color: rgb(126, 21, 184);
  cursor: pointer;
  transition: all 0.1s ease;
}
.quiz-container .close:hover {
  background: rgb(126, 21, 184);
  color: rgb(255, 255, 255);
  scale: 1.1;
}
.quiz-container button {
  align-self: center;
}
.quiz-container div {
  width: 100%;
}
.quiz-container div h3,
.quiz-container div h4 {
  text-align: center;
  padding-bottom: 1em;
}
.quiz-container div h3::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: rgb(126, 21, 184);
  margin: 0.5em auto;
  transition: width 0.5s ease;
}
.quiz-container div:hover h3::after {
  width: 50%;
}
.quiz-container .form-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
}
.quiz-container .form-title div {
  display: flex;
  justify-content: start;
  align-content: center;
  align-items: center;
  gap: 0.5rem;
}
.quiz-container .form-title div p {
  margin: 0 auto;
  font-size: 1.2rem;
}
.quiz-container .form-title div span {
  font-size: 1.5rem;
}
.quiz-container .range-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.quiz-container input[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
.quiz-container input[type=checkbox]:checked {
  background-color: rgb(126, 21, 184);
  border: none;
}
.quiz-container input[type=checkbox]:focus {
  outline: none;
  box-shadow: 0 0 0 0.05rem rgb(177, 72, 235);
}
.quiz-container input[type=range] {
  width: 100%;
  padding-inline: 5rem;
  margin: 4.8px auto;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}
.quiz-container input[type=range]:focus {
  outline: none;
}
.quiz-container input[type=range]::-webkit-slider-runnable-track {
  background: rgb(158, 26, 230);
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
.quiz-container input[type=range]::-webkit-slider-thumb {
  margin-top: -4.8px;
  width: 18px;
  height: 18px;
  background: rgb(255, 255, 255);
  border-radius: 36px;
  cursor: pointer;
  -webkit-appearance: none;
}
.quiz-container input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(177, 72, 235);
}
.quiz-container input[type=range]::-moz-range-track {
  background: rgb(177, 72, 235);
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
.quiz-container input[type=range]::-moz-range-thumb {
  width: 1px;
  height: 18px;
  background: rgb(177, 72, 235);
  border: 0.6px solid #000000;
  border-radius: 36px;
  cursor: pointer;
}
.quiz-container input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4.8px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
.quiz-container input[type=range]::-ms-fill-lower {
  background: rgb(177, 72, 235);
  border: 0;
  border-radius: 50px;
}
.quiz-container input[type=range]::-ms-fill-upper {
  background: rgb(177, 72, 235);
  border: 0;
  border-radius: 50px;
}
.quiz-container input[type=range]::-ms-thumb {
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 0.6px solid #000000;
  border-radius: 36px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
.quiz-container input[type=range]:focus::-ms-fill-lower {
  background: rgb(177, 72, 235);
}
.quiz-container input[type=range]:focus::-ms-fill-upper {
  background: rgb(177, 72, 235);
}
.quiz-container .total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .services-card .card {
    aspect-ratio: 1/1;
    text-align: center;
  }
}
.totalprice {
  font-size: 2rem;
  font-weight: 700;
}

.line-through {
  text-decoration: line-through;
  font-size: 1.5rem;
  opacity: 0.5;
}

.discounted {
  font-size: 2rem;
  font-weight: 700;
}

.body-container {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Global Debuging to remove */
.debug {
  border: 1px solid red;
}
.debug-1 {
  border: 1px solid blue;
}
.debug-2 {
  border: 1px solid green;
}
.debug-3 {
  border: 1px solid yellow;
}

@media (prefers-color-scheme: dark) {
  /* Global color classes */
  .c-white-bg {
    background-color: rgb(4, 6, 15) !important;
  }
  .c-white {
    color: rgb(244, 245, 246) !important;
  }
  .wsg-700 {
    color: rgb(244, 245, 246) !important;
  }
  .wsg-600 {
    color: rgb(143, 147, 154) !important;
  }
  .wsg-500 {
    color: rgb(177, 180, 185) !important;
  }
  .wsg-400 {
    color: rgb(244, 245, 246) !important;
  }
  .wsg-050-bg {
    background-color: rgb(8, 12, 30) !important;
  }
  .rb-200 {
    color: rgb(48, 110, 232) !important;
  }
  .ev-200 {
    color: rgb(158, 26, 230) !important;
  }
  .nav-link {
    color: rgb(177, 180, 185);
    transition: all 0.5s ease !important;
  }
  .nav-link:hover {
    color: rgb(48, 110, 232);
    text-shadow: 0 0 0.625rem rgb(48, 110, 232), 0 0 1.25rem rgb(172, 197, 246);
    box-shadow: 0 0.0625rem 0 rgb(48, 110, 232);
  }
  .active {
    transition: all 0.5s ease;
  }
  .active:hover {
    text-shadow: 0 0 0.625rem rgb(158, 26, 230), 0 0 1.25rem rgb(158, 26, 230);
    box-shadow: 0 0.0625rem 0 rgb(158, 26, 230);
  }
  .bg-element {
    -webkit-text-fill-color: rgb(4, 6, 15);
  }
  .Skewed-BG::before {
    background: linear-gradient(125deg, rgb(26, 6, 28) 0%, rgb(4, 6, 15) 80%);
  }
  .card-mw .glass-card {
    background: rgba(32, 34, 43, 0.5);
  }
  .line {
    background: rgb(12, 18, 45);
  }
  .work-exp .card {
    background: rgb(12, 18, 45);
    transition: all 0.5s ease;
  }
  .work-exp .card:hover {
    background: rgb(20, 30, 75);
  }
  a {
    color: rgb(48, 110, 232);
    transition: all 0.5s ease;
  }
  a:hover {
    color: rgb(158, 26, 230);
  }
  .built-with-img {
    filter: invert(1);
  }
  .services-card {
    display: flex;
  }
  .services-card .card {
    background: rgb(8, 12, 30);
    border: 1px solid rgb(12, 18, 45);
    transition: all 0.5s ease;
  }
  .services-card .card:hover {
    background: rgb(20, 30, 75);
  }
  .services-card .card .card-body .card-subtitle {
    text-align: center;
    transition: all 0.5s ease;
  }
  .services-card .card .card-body .card-subtitle:hover {
    color: rgb(158, 26, 230) !important;
  }
  .logo {
    filter: invert(1);
  }
  .work-logo {
    filter: invert(0);
  }
  *::-webkit-scrollbar-track {
    background: rgb(12, 18, 45);
  }
  *::-webkit-scrollbar-track:hover {
    background: rgb(16, 24, 60);
  }
  *::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgb(95, 16, 138), rgb(12, 18, 45));
  }
  *::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, rgb(158, 26, 230), rgb(16, 24, 60));
  }
}

/*# sourceMappingURL=main.css.map */
