@use "../utilities/variables" as *;

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: $light---electric-violet--200 $dark---bunting-blue--050;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	width: 10px;
	transition: all 0.2s ease;
}
*::-webkit-scrollbar-track {
	border-radius: 5px;
	background: linear-gradient(
		180deg,
		$dark---bunting-blue--050,
		$light---royal-blue--100
	);
	transition: all 0.2s ease;
}

*::-webkit-scrollbar-track:hover {
	background: linear-gradient(
		180deg,
		$dark---bunting-blue--050,
		$light---royal-blue--100
	);
	transition: all 0.2s ease;
}

*::-webkit-scrollbar-track:active {
	background-color: #b8c0c2;
	transition: all 0.2s ease;
}

*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: linear-gradient(
		180deg,
		$light---electric-violet--200,
		$dark---bunting-blue--050
	);
	transition: all 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(
		180deg,
		$light---electric-violet--400,
		$light---royal-blue--100
	);
	transition: all 0.2s ease;
}

*::-webkit-scrollbar-thumb:active {
	background-color: $light---electric-violet--200;
	transition: all 0.2s ease;
}
