@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.debug {
    @apply border border-red-700;
}

article > figure {
    @apply relative isolate mx-auto  w-11/12 md:max-w-prose;
}

article > figure > figcaption {
    /* Your styles here */
    @apply absolute left-24 z-10 -translate-y-1 bg-transparent text-base-100 opacity-40 dark:text-viridian-100 !important;
}

article > figure > pre {
    @apply mockup-code whitespace-pre-wrap rounded-lg bg-base-300 p-4 saturate-150 dark:bg-neutral/50;
}

code {
    counter-reset: line;
}

pre > code > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 16px;
    margin-right: 32px;
    text-align: right;
    color: gray;
}

pre > code[data-line-numbers-max-digits='2'] > [data-line]::before {
    width: 32px;
}

pre > code[data-line-numbers-max-digits='3'] > [data-line]::before {
    width: 48px;
}
