@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.debug {
    @apply border border-red-700;
}

article > figure {
    @apply relative max-w-full text-pretty;
}
article > figure > figcaption {
    @apply absolute right-0 m-0 mr-2 rounded-sm bg-primary p-1 text-primary;
}

article > figure > pre {
    @apply mockup-code  text-pretty;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
    code[data-theme*=' '],
    code[data-theme*=' '] span {
        color: var(--shiki-dark);
        background-color: var(--shiki-dark-bg);
    }
}
