@use "variables" as *;

/* utility classes */

/* font family */

.ff-poppins {
	font-family: $ff-poppins !important;
}

.ff-inter {
	font-family: $ff-inter !important;
}

/* font weight */

.fw-100 {
	font-weight: $fw-100;
}

.fw-200 {
	font-weight: $fw-200;
}

.fw-300 {
	font-weight: $fw-300;
}

.fw-400 {
	font-weight: $fw-400;
}

.fw-500 {
	font-weight: $fw-500;
}

.fw-600 {
	font-weight: $fw-600;
}

.fw-700 {
	font-weight: $fw-700;
}

.fw-800 {
	font-weight: $fw-800;
}

.fw-900 {
	font-weight: $fw-900;
}

/* font size */

.fs-12 {
	font-size: $fs-12;
}

.fs-14 {
	font-size: $fs-14;
}

.fs-16 {
	font-size: $fs-16;
}

.fs-18 {
	font-size: $fs-18;
}

.fs-20 {
	font-size: $fs-20;
}

.fs-24 {
	font-size: $fs-24;
}

.fs-28 {
	font-size: $fs-28;
}

.fs-32 {
	font-size: $fs-32;
}

.fs-36 {
	font-size: $fs-36;
}

.fs-40 {
	font-size: $fs-40;
}

.fs-48 {
	font-size: $fs-48;
}

.fs-56 {
	font-size: $fs-56;
}

.fs-64 {
	font-size: $fs-64;
}

.fs-72 {
	font-size: $fs-72;
}

.fs-80 {
	font-size: $fs-80;
}

.fs-96 {
	font-size: $fs-96;
}
